
#container{
    text-align: center;
    width:500px;
    margin: auto;
    margin-bottom: 200px;
}
h1{
    text-align:center ;
}

#input{
    padding: 5px 10px;
    border: 2px black solid;
}

#btn{
    border: 2px black solid;
    background-color: green;
    border-radius: 3px;
   padding: 7px;
   
}


#tasks{
    list-style-type: none;
    }

    li{
        background-color:white;
        padding: 5px;
        margin-top: 5px;
    }
body{
    background-color:rgb(180, 200, 238);
}