 /* #form{
   text-align: center;
   margin: 200px auto;
 }

 #input{
    width:300px;
    border: 2px black solid;
    box-sizing: border-box;
   color: rgb(68, 74, 74);
 }

 #btn{
    background-color: green;
    
 } */